/* Body Styling */
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

/* Table data styling */
td {
  font-size: 1.1rem;
  font-weight: bold;
}

/* Images */
img {
  width: 10rem;
  height: 10rem;
}

/* Rating */
.checked {
color: gold;
}